<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
  <%- detailView %> <!-- this is the HTML passed from the controller -->
</main>

<%- include('../partials/footer') %>
